[submodule "highlight"]
	path = highlight
	url = git://github.com/isagalaev/highlight.js.git
[submodule "nunjucks"]
	path = nunjucks
	url = git://github.com/jlongster/nunjucks.git
[submodule "showdown"]
	path = showdown
	url = git://github.com/jsliang/showdown.git
