[submodule "showdown"]
	path = showdown
	url = https://github.com/coreyti/showdown.git
[submodule "nunjucks"]
	path = nunjucks
	url = https://github.com/jlongster/nunjucks.git
[submodule "highlight"]
	path = highlight
	url = https://github.com/isagalaev/highlight.js
