$padding: 2em;

@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Roboto);


/*
 *  Author: Jui-Shan Liang
 *  Author URI: http://jsliang.com
 */

body {
  color: #333;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  color: rgb(34, 106, 233);
  &:hover {
    color: #08c;
  }
}

@mixin headings {
  font-family: Overlock, serif;
  font-weight: bold;
}

h1 {
  @include headings;
  font-size: 2em;
  line-height: 3;
}

h2 {
  @include headings;
  font-size: 1.5em;
  color: #113D8B;
  line-height: 2;
}

h3 {
  @include headings;
  font-size: 1.2em;
  color: #000;
  line-height: 1.5;
}

h4 {
  @include headings;
  font-size: 1.1em;
  color: #000;
}

h5 {
  @include headings;
  font-size: 15px;
  color: #777;
}

h6 {
  @include headings;
  font-size: 15px;
  color: #666;
}

hr {
  border: 2px solid #eeeeee;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

ul, ol {
  margin: 0;
  padding: {
    top: 0;
    right: 0;
    left: $padding;
    bottom: 0;
  }
}

ul {
  list-style: outside disc;
}

ol {
  list-style: outside decimal;
}

blockquote {
  margin: 20px;
  font-style: normal;
  border: 0;
  p {
    font-size: 15px;
    margin-bottom: 1em;
    font-weight: normal;
  }
}

pre, code {
  font-family: 'PT Mono', sans-serif;
  font-size: 0.9em;
}

pre {
  background-color: #eeeeee;
  padding: 3px;
  margin: 1em;
  overflow: auto;
  code {
    border: 0;
    font-size: 1em;
  }
}

code {
  border: 1px solid rgb(193, 206, 216);
  background-color: #f3f3f3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: {
    left: 0.3em;
    right: 0.3em;
  }
  margin: {
    left: 0.3em;
    right: 0.3em;
  }
}

#TOC {
  width: 200px;
  float: right;
  display: block;
  margin: $padding;
  padding: $padding;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(168, 167, 168);
  h1 {
    font-size: 1.5em;
    line-height: 1;
    margin-top: 0;
    border-bottom: 1px solid rgb(216, 216, 216);
  }
  ul {
    padding-left: 0;
    margin: {
      left: 0;
      top: $padding / 2;
      bottom: $padding / 2;
    }
  }
  ul > li {
    list-style: none;
    font: {
      family: Overlock, sans-serif;
      weight: bold;
      size: 1.25em;
    }
    line-height: 1;
    a {
      text-decoration: none;
      color: #113D8B;
      &:hover {
        color: #08c;
      }
    }
  }
  ul > li > ul > li {
    font: {
      family: Overlock, sans-serif;
      weight: normal;
      size: 0.85em;
    }
    margin: {
      left: $padding / 2;
      bottom: $padding / 2;
    }
    a {
      color: #000;
      &:hover {
        color: #08c;
      }
    }
  }
}

#content {
  margin-left: $padding;
  padding: $padding;
}

/* Landscape phones and down */
@media (max-width: 600px) {
  #TOC {
    float: left;
    width: 100%;
    margin: 0;
  }
  #content {
    margin: 0;
  }
}